<div class="event-card">
  <p class="title"><%= link_to event.title, event %></p>
  <p class="location"><%= event.location %></p>
  <p class="date"><%= event.date %></p>
  <p class="description"><%= event.description %></p>
</div>