<div class="event index">
  <div class="upcoming-events">
    <% @upcoming_events.each do |event| %>
      <%= render partial: "shared/event_card", locals: { event: event } %>
    <% end %>
  </div>

  <div class="past-events">
    <% @past_events.each do |event| %>
      <%= render partial: "shared/event_card", locals: { event: event } %>
    <% end %>
  </div>
</div>