<%= render partial: "shared/event_card", locals: { event: @event } %>

<%= render partial: "attendance_form", locals: { event: @event } %>

<div class="attendees">
  <ul>
    <%# this may cause N+1 problem %>
    <% @event.attendees.each do |attendee| %>
      <li><%= link_to attendee.name, user_path(attendee) %></li>
    <% end %>
  </ul>
</div>