// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// index action

.index.event {
  --gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  padding: var(--gap);
}

.event .upcoming-events,
.event .past-events {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.event h2 {
  margin: 0;
}